name: Sync BEVFormer to Aliyun
on: [workflow_dispatch]
jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
    - name: Login to Aliyun ACR
      uses: docker/login-action@v2
      with:
        # 这里用你的公网地址
        registry: crpi-0a38dh228o5y7lb7.cn-shanghai.personal.cr.aliyuncs.com/bevormer2/bevformer2
        username: tabqe # 你的阿里云账号名
        password: zxc.15937538933 # 你在控制台设置的“访问凭证”密码
    - name: Pull and Push
      run: |
        # 1. 从 Docker Hub 拉取（GitHub 环境拉这个很快）
        docker pull aitotra/bevformer:v1.0-mini
        # 2. 打标签改成你自己的阿里云地址
        docker tag aitotra/bevformer:v1.0-mini crpi-0a38dh228o5y7lb7.cn-shanghai.personal.cr.aliyuncs.com/bevformer2/bevformer2:v1.0-mini
        # 3. 推送到阿里云
        docker push crpi-0a38dh228o5y7lb7.cn-shanghai.personal.cr.aliyuncs.com/bevformer2/bevformer2:v1.0-mini
